<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- font awesoem cdn link here ....  -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" class="logo">Events<span>.</span></a>
      <nav>
        <ul>
          <li><a href="/" class="menu-btn">home</a></li>
          <li><a href="/events" class="menu-btn">allEvents</a></li>
          <li><a href="/events/new" class="menu-btn btn">new event</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="allevents-container">
        <div class="events-card-container">
          <% events.forEach(event=>{%>
          <div class="event-card">
            <h2><%= event.title%></h2>
            <div class="additional-information">
              <div class="even-location">
                <p>Location : <span><%= event.location%></span></p>
              </div>
              <div class="event-hostname">
                <p>Hosted by : <span><%= event.host%></span></p>
              </div>
            </div>
            <a href="/events/<%= event._id%>" class="readmore">readmore</a>
          </div>
          <%})%>
        </div>
        <aside class="sidebar">
          <div class="category-widget">
            <nav>
              <ul>
                <h4>All categories</h4>
                <% categories.forEach(cv=>{ %>
                <li><a href="/events/<%= cv%>/category"><%= cv%></a></li>
                <% })%>
              </ul>
            </nav>
          </div>
          <div class="location-widget">
            <nav>
              <ul>
                <h4>Events on locations</h4>
                <% locations.forEach(cv=>{ %>
                <li><a href="/events/<%= cv%>/location"><%= cv%></a></li>
                <% })%>
              </ul>
            </nav>
          </div>
        </aside>
      </section>
    </main>
  </body>
</html>
